In [1]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [2]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import xgboost as xgb

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.metrics import roc_curve, auc

In [4]:
import numpy as np
import pandas as pd
data1 = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
data1

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [5]:
data1.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
data1.shape

(1470, 35)

In [7]:
data1.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [8]:
data1.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [9]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
data1['Attrition'] = labelencoder_y.fit_transform(data1['Attrition'])
data1['BusinessTravel'] = labelencoder_y.fit_transform(data1['BusinessTravel'])
data1['Department'] = labelencoder_y.fit_transform(data1['Department'])
data1['EducationField'] = labelencoder_y.fit_transform(data1['EducationField'])
data1['Gender'] = labelencoder_y.fit_transform(data1['Gender'])
data1['JobRole'] = labelencoder_y.fit_transform(data1['JobRole'])
data1['MaritalStatus'] = labelencoder_y.fit_transform(data1['MaritalStatus'])
print(data1)

      Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0      41          1               2       1102           2                 1
1      49          0               1        279           1                 8
2      37          1               2       1373           1                 2
3      33          0               1       1392           1                 3
4      27          0               2        591           1                 2
...   ...        ...             ...        ...         ...               ...
1465   36          0               1        884           1                23
1466   39          0               2        613           1                 6
1467   27          0               2        155           1                 4
1468   49          0               1       1023           2                 2
1469   34          0               2        628           1                 8

      Education  EducationField  EmployeeCount  EmployeeNumber  ...  \
0             2               1              1               1  ...
1             1               1              1               2  ...
2             2               4              1               4  ...
3             4               1              1               5  ...
4             1               3              1               7  ...
...         ...             ...            ...             ...  ...
1465          2               3              1            2061  ...
1466          1               3              1            2062  ...
1467          3               1              1            2064  ...
1468          3               3              1            2065  ...
1469          3               3              1            2068  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            1             80                 0
1                            4             80                 1
2                            2             80                 0
3                            3             80                 0
4                            4             80                 1
...                        ...            ...               ...
1465                         3             80                 1
1466                         1             80                 1
1467                         2             80                 1
1468                         4             80                 0
1469                         1             80                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
...                 ...                    ...              ...
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
...              ...                 ...                      ...
1465               5                   2                        0
1466               7                   7                        1
1467               6                   2                        0
1468               9                   6                        0
1469               4                   3                        1

      YearsWithCurrManager
0                        5
1                        7
2                        0
3                        0
4                        2
...                    ...
1465                     3
1466                     7
1467                     3
1468                     8
1469                     2

[1470 rows x 35 columns]

In [10]:
x = data1.iloc[:,:3].values
y = data1.iloc[:,3].values

In [11]:
print(x[0],y[0])

[41  1  2] 1102

In [12]:
from sklearn.compose import ColumnTransformer

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
ct = ColumnTransformer(transformers=[("oh",OneHotEncoder(),[0])],remainder="passthrough")

In [15]:
x=ct.fit_transform(x)

In [16]:
print(x)

  (0, 23)	1.0
  (0, 43)	1.0
  (0, 44)	2.0
  (1, 31)	1.0
  (1, 44)	1.0
  (2, 19)	1.0
  (2, 43)	1.0
  (2, 44)	2.0
  (3, 15)	1.0
  (3, 44)	1.0
  (4, 9)	1.0
  (4, 44)	2.0
  (5, 14)	1.0
  (5, 44)	1.0
  (6, 41)	1.0
  (6, 44)	2.0
  (7, 12)	1.0
  (7, 44)	2.0
  (8, 20)	1.0
  (8, 44)	1.0
  (9, 18)	1.0
  (9, 44)	2.0
  (10, 17)	1.0
  (10, 44)	2.0
  (11, 11)	1.0
  :	:
  (1457, 44)	2.0
  (1458, 17)	1.0
  (1458, 44)	2.0
  (1459, 11)	1.0
  (1459, 44)	2.0
  (1460, 11)	1.0
  (1460, 44)	2.0
  (1461, 32)	1.0
  (1461, 43)	1.0
  (1461, 44)	2.0
  (1462, 21)	1.0
  (1462, 44)	2.0
  (1463, 13)	1.0
  (1464, 8)	1.0
  (1464, 44)	2.0
  (1465, 18)	1.0
  (1465, 44)	1.0
  (1466, 21)	1.0
  (1466, 44)	2.0
  (1467, 9)	1.0
  (1467, 44)	2.0
  (1468, 31)	1.0
  (1468, 44)	1.0
  (1469, 16)	1.0
  (1469, 44)	2.0

In [17]:
scaler=StandardScaler(with_mean=False)
scaler.fit(x)
x=scaler.transform(x)
print(x)

  (0, 23)	6.146378773552116
  (0, 43)	2.7193281812778256
  (0, 44)	3.0064854641274565
  (1, 31)	7.890918673410177
  (1, 44)	1.5032427320637283
  (2, 19)	5.51681169404989
  (2, 43)	2.7193281812778256
  (2, 44)	3.0064854641274565
  (3, 15)	5.136721140324735
  (3, 44)	1.5032427320637283
  (4, 9)	5.626611349139159
  (4, 44)	3.0064854641274565
  (5, 14)	5.014145367998676
  (5, 44)	1.5032427320637283
  (6, 41)	12.16580656245481
  (6, 44)	3.0064854641274565
  (7, 12)	5.05396410666809
  (7, 44)	3.0064854641274565
  (8, 20)	5.136721140324735
  (8, 44)	1.5032427320637283
  (9, 18)	4.727959217402244
  (9, 44)	3.0064854641274565
  (10, 17)	4.4611868744665335
  (10, 44)	3.0064854641274565
  (11, 11)	4.760897940370471
  :	:
  (1457, 44)	3.0064854641274565
  (1458, 17)	4.4611868744665335
  (1458, 44)	3.0064854641274565
  (1459, 11)	4.760897940370471
  (1459, 44)	3.0064854641274565
  (1460, 11)	4.760897940370471
  (1460, 44)	3.0064854641274565
  (1461, 32)	7.072540797572915
  (1461, 43)	2.7193281812778256
  (1461, 44)	3.0064854641274565
  (1462, 21)	6.002450479987812
  (1462, 44)	3.0064854641274565
  (1463, 13)	4.727959217402244
  (1464, 8)	6.2225044283689215
  (1464, 44)	3.0064854641274565
  (1465, 18)	4.727959217402244
  (1465, 44)	1.5032427320637283
  (1466, 21)	6.002450479987812
  (1466, 44)	3.0064854641274565
  (1467, 9)	5.626611349139159
  (1467, 44)	3.0064854641274565
  (1468, 31)	7.890918673410177
  (1468, 44)	1.5032427320637283
  (1469, 16)	4.488450230627342
  (1469, 44)	3.0064854641274565

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [19]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1029, 45)
(441, 45)
(1029,)
(441,)

In [20]:
'''
classifier_reg = LogisticRegression()
classifier_reg.fit(x_train,y_train)

Commented out as LogReg is used for Classification and your task is Regression
'''

reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [21]:
y_pred=reg.predict(x_test)

In [22]:
print(y_pred)#.astype(int))  #Here rating are predicted as float(As obvious), if you want int values you can use .astype(int)

[ 925.80233685  867.6242796   923.34797129  895.58768325  723.61200088
  775.71934314  774.23097187  819.88217514  813.91437809  834.80817992
  770.28444696  789.36379013  815.40399893  717.49085318  834.80817992
  683.42322626  888.4810742   751.24074994  746.0874228   873.0387418
  805.30167148  799.25805454  813.91437809  802.65676191  813.91437809
  878.12492948  790.16994036  836.38319168  761.67174034  736.31474516
  882.16777604  799.25805454  731.53494547  892.03254899  838.66326789
  864.42603518  858.11273702  914.73526467  838.66326789  981.58001923
  784.33204976  791.45638511  746.0874228   925.80233685  681.52010443
  681.80069027  789.36379013  834.80817992  886.97497663  821.4571869
  775.71934314  789.36379013  681.52010443  874.98454982  736.31474516
  981.58001923  799.74257703  857.75913658  805.09594514  864.42603518
  878.12492948  770.28444696  834.80817992  744.45407848  885.71925083
  773.61570075  815.40399893  857.92254218  838.66326789  674.81051964
  879.86836759  910.87633208  657.98139303  857.92254218  834.80817992
  902.26362546  799.74257703  658.13729342  878.12492948  791.767548
  805.30167148  676.04107515  858.4322226   829.87167424  744.45407848
  784.33204976  965.49396813  886.97497663  800.38025461  689.56926493
  805.30167148  859.01157298  744.45407848  858.4322226   882.16777604
  981.58001923  772.1383769   897.09378082  770.28444696  844.9958983
  751.24074994  780.75108351  965.49396813  834.80817992  790.16994036
  681.52010443  805.09594514  723.61200088  844.9958983   774.23097187
  799.25805454  770.28444696  658.26197888  923.34797129  859.01157298
  799.25805454  740.14765209  740.14765209  860.05854504  672.90739781
  897.09378082  798.98837332  873.55506943  897.09378082  746.0874228
  770.28444696  789.36379013  897.09378082  796.48323852  864.42603518
  731.16141802  925.80233685  867.6242796   917.18963024  939.1633046
  855.81332856  657.98139303  895.58768325  770.28444696  836.38319168
  965.49396813  770.28444696  770.28444696  849.30983557  789.36379013
  808.99296123  770.28444696  666.8746855   716.60894069  838.66326789
  872.04897185  791.45638511  897.09378082  857.92254218  910.87633208
  864.42603518  808.99296123  676.04107515  664.29469119  673.03785219
  897.09378082  672.90739781  805.30167148  815.40399893  731.16141802
  897.09378082  897.09378082  676.04107515  874.98454982  791.45638511
  722.5487114   888.4810742   878.12492948  874.98454982  874.98454982
  731.16141802  666.59409965  689.56926493  798.98837332  799.25805454
  796.68896486  673.03785219  790.64534792  878.12492948  789.36379013
  873.0387418   838.66326789  782.84367849  874.98454982  796.48323852
  878.12492948  888.4810742   826.1954733   680.95655831  925.80233685
  723.61200088  689.56926493  923.34797129  672.90739781  799.25805454
  897.09378082  864.42603518  666.59409965  681.52010443  782.84367849
  676.04107515  723.61200088  746.0874228   791.12987041  897.09378082
  789.36379013  813.91437809  784.33204976  378.99999369  840.69712895
  826.1954733   681.52010443  779.92899891  794.06695645  965.49396813
  799.25805454  838.66326789  667.42836853  897.09378082  844.9958983
  791.45638511  673.03785219  897.09378082  838.66326789  866.3718432
  811.26946852  680.95655831  681.52010443  737.47471618  723.61200088
  844.9958983  1185.10476486  838.66326789  723.61200088  838.66326789
  689.56926493  666.59409965  791.45638511  857.92254218  770.28444696
  744.45407848  902.26362546  775.71934314  857.92254218  821.43785465
  885.71925083  737.47471618  791.45638511  805.09594514  782.84367849
  873.0387418   844.9958983   821.43785465  753.05903372  879.86836759
  798.98837332  731.16141802  791.45638511  770.28444696  813.91437809
  834.80817992  895.58768325  844.9958983   797.15441215  878.12492948
  673.03785219  737.47471618  873.0387418   791.45638511  826.1954733
  799.25805454  834.80817992  821.43785465  895.58768325  874.98454982
  791.45638511  791.45638511  666.59409965  811.26946852  826.1954733
  672.90739781  813.91437809  753.05903372  770.28444696  728.86200956
  799.25805454  799.25805454  858.11273702  657.98139303  838.66326789
  897.09378082  864.42603518  727.22866525  857.92254218  821.43785465
  706.38658764  689.56926493  834.80817992  874.98454982  947.77601121
  799.25805454  791.86528753  791.45638511  838.66326789  888.4810742
  770.28444696  770.28444696  767.59115902  725.22164731  790.16994036
  888.4810742   834.80817992  885.71925083  878.12492948  897.09378082
  689.56926493  681.52010443  723.61200088  869.51222287  784.33204976
  897.09378082  791.45638511  834.80817992  838.66326789  723.61200088
  805.09594514  796.68896486  761.67174034  761.67174034  805.09594514
  737.47471618  782.84367849  729.52807371  770.28444696  791.12987041
  844.9958983   689.56926493  873.0387418   746.0874228   714.99929426
  751.24074994  857.75913658  731.16141802  791.45638511  965.49396813
  658.11184741  744.45407848  834.80817992  897.09378082  744.45407848
  727.70203854  799.74257703  723.61200088  834.80817992  681.52010443
  658.81566191  886.97497663  834.80817992  885.71925083  860.05854504
  808.99296123  962.70201599  838.66326789  883.41984237  813.91437809
  685.33943517  869.51222287  897.09378082  923.34797129  740.14765209
  689.56926493  923.34797129  908.57692362  805.30167148  869.51222287
  914.73526467  666.59409965  784.33204976  673.03785219  981.58001923
  753.05903372  815.40399893  834.80817992  834.80817992  799.25805454
  770.28444696  878.12492948  791.45638511  805.09594514  698.34923104
  873.55506943  844.9958983   700.26543995  729.52807371  947.77601121
  799.25805454  740.14765209  902.26362546  844.9958983   666.8746855
  874.98454982  880.66167847  798.98837332  873.55506943  834.80817992
  819.88217514  838.66326789  740.14765209  782.84367849  797.15441215
  740.14765209  772.1383769   962.70201599  791.45638511  815.40399893
  844.9958983   731.53494547  753.05903372  746.0874228   872.04897185
  858.4322226   966.65401446  878.12492948  864.42603518  740.14765209
  834.80817992  797.15441215  790.64534792  796.68896486  676.04107515
  821.43785465  744.45407848  857.75913658  774.43778536 1185.10476486
  731.16141802]

In [23]:
cols = ['Model','max_error','mean_squared_error','mean_squared_log_error',
        'r2_score', 'mean_absolute_error','explained_variance_score']
models_report = pd.DataFrame(columns=cols)

print(models_report)

Empty DataFrame
Columns: [Model, max_error, mean_squared_error, mean_squared_log_error, r2_score, mean_absolute_error, explained_variance_score]
Index: []

In [24]:
rows = np.array(["Linear Regression",
                 metrics.max_error(y_test, y_pred),
                 metrics.mean_squared_error(y_test, y_pred),
                 metrics.mean_squared_log_error(y_test, y_pred),
                 metrics.r2_score(y_test, y_pred),
                 metrics.mean_absolute_error(y_test, y_pred),
                 metrics.explained_variance_score(y_test, y_pred)])
temp1 = pd.Series(rows, index = cols)

Reg_report = models_report.append(temp1, ignore_index = True)
Reg_report

,Model,max_error,mean_squared_error,mean_squared_log_error,r2_score,mean_absolute_error,explained_variance_score
0,Linear Regression,1043.1047648598567,172301.8190985129,0.4940112052587489,-0.07772779874596614,349.3459593777875,-0.07523144662864523

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import ElasticNet
pipe = Pipeline([
    ('rescale', StandardScaler(with_mean=False)),
    ('enet', ElasticNet())
])

In [26]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('rescale', StandardScaler(with_mean=False)),
                ('enet', ElasticNet())])

In [27]:
y_predict=pipe.predict(x_test)
y_predict

array([ 886.16702856,  843.85302785,  883.58942605,  865.10801632,
        753.27684107,  787.29736364,  787.20798184,  814.44553394,
        813.05398632,  825.26424697,  784.5879239 ,  798.89068945,
        813.05398632,  750.38048678,  825.26424697,  727.20301047,
        861.61750506,  775.17280644,  768.27369459,  850.93244611,
        806.93285558,  804.23720742,  813.05398632,  802.20327245,
        813.05398632,  854.34261258,  797.28824233,  825.50584744,
        778.46679316,  764.3540934 ,  856.91992277,  804.23720742,
        758.65343292,  862.07774808,  826.89114903,  844.81131537,
        840.11373307,  877.46829531,  826.89114903,  920.6822502 ,
        793.41849438,  799.45024333,  768.27369459,  886.16702856,
        724.08881262,  727.87942978,  798.89068945,  825.26424697,
        858.98688558,  814.6871344 ,  787.29736364,  798.89068945,
        724.08881262,  852.23634718,  764.3540934 ,  920.6822502 ,
        805.49930471,  839.9940857 ,  808.10695536,  844.81131537,
        854.34261258,  784.5879239 ,  825.26424697,  767.91873047,
        857.38016579,  787.03326185,  813.05398632,  839.35453362,
        826.89114903,  721.08187972,  855.49637432,  875.34831553,
        707.14896884,  839.35453362,  825.26424697,  869.22718479,
        805.49930471,  714.61313785,  854.34261258,  800.02162978,
        806.93285558,  723.13599449,  839.93203602,  821.23433616,
        767.91873047,  793.41849438,  911.3037358 ,  858.98688558,
        806.14276052,  730.4902842 ,  806.93285558,  837.73189711,
        767.91873047,  839.93203602,  856.91992277,  920.6822502 ,
        786.64842797,  867.7386358 ,  784.5879239 ,  831.62697818,
        775.17280644,  792.76955871,  911.3037358 ,  825.26424697,
        797.28824233,  724.08881262,  808.10695536,  753.27684107,
        831.62697818,  787.20798184,  804.23720742,  784.5879239 ,
        710.939586  ,  883.58942605,  837.73189711,  804.23720742,
        764.77456366,  764.77456366,  841.41763414,  717.96768188,
        867.7386358 ,  802.23527329,  850.79879203,  867.7386358 ,
        768.27369459,  784.5879239 ,  798.89068945,  867.7386358 ,
        801.98582462,  844.81131537,  757.45498155,  886.16702856,
        843.85302785,  880.04589782,  890.71175045,  838.69018463,
        707.14896884,  865.10801632,  784.5879239 ,  825.50584744,
        911.3037358 ,  784.5879239 ,  784.5879239 ,  833.23340288,
        798.89068945,  812.26389127,  784.5879239 ,  717.06071674,
        747.83471988,  826.89114903,  848.16817254,  799.45024333,
        867.7386358 ,  839.35453362,  875.34831553,  844.81131537,
        812.26389127,  723.13599449,  711.84655114,  721.72392246,
        867.7386358 ,  717.96768188,  806.93285558,  813.05398632,
        757.45498155,  867.7386358 ,  867.7386358 ,  723.13599449,
        852.23634718,  799.45024333,  751.33385081,  861.61750506,
        854.34261258,  852.23634718,  852.23634718,  757.45498155,
        713.27009958,  730.4902842 ,  802.23527329,  804.23720742,
        800.81172484,  721.72392246,  798.11607668,  854.34261258,
        798.89068945,  850.93244611,  826.89114903,  793.32911259,
        852.23634718,  801.98582462,  854.34261258,  861.61750506,
        819.14311623,  724.36915346,  886.16702856,  753.27684107,
        730.4902842 ,  883.58942605,  717.96768188,  804.23720742,
        867.7386358 ,  844.81131537,  713.27009958,  724.08881262,
        793.32911259,  723.13599449,  753.27684107,  768.27369459,
        799.37817397,  867.7386358 ,  798.89068945,  813.05398632,
        793.41849438,  529.57358347,  827.11227214,  819.14311623,
        724.08881262,  791.73084415,  801.44517823,  911.3037358 ,
        804.23720742,  826.89114903,  717.01486375,  867.7386358 ,
        831.62697818,  799.45024333,  721.72392246,  867.7386358 ,
        826.89114903,  846.11521644,  808.3244032 ,  724.36915346,
        724.08881262,  762.15256385,  753.27684107,  831.62697818,
       1057.33224791,  826.89114903,  753.27684107,  826.89114903,
        730.4902842 ,  713.27009958,  799.45024333,  839.35453362,
        784.5879239 ,  767.91873047,  869.22718479,  787.29736364,
        839.35453362,  814.64888755,  857.38016579,  762.15256385,
        799.45024333,  808.10695536,  793.32911259,  850.93244611,
        831.62697818,  814.64888755,  772.34566242,  855.49637432,
        802.23527329,  757.45498155,  799.45024333,  784.5879239 ,
        813.05398632,  825.26424697,  865.10801632,  831.62697818,
        803.97310563,  854.34261258,  721.72392246,  762.15256385,
        850.93244611,  799.45024333,  819.14311623,  804.23720742,
        825.26424697,  814.64888755,  865.10801632,  852.23634718,
        799.45024333,  799.45024333,  713.27009958,  808.3244032 ,
        819.14311623,  717.96768188,  813.05398632,  772.34566242,
        784.5879239 ,  756.03143311,  804.23720742,  804.23720742,
        840.11373307,  707.14896884,  826.89114903,  867.7386358 ,
        844.81131537,  755.67646899,  839.35453362,  814.64888755,
        741.03457959,  730.4902842 ,  825.26424697,  852.23634718,
        896.83288119,  804.23720742,  796.11414255,  799.45024333,
        826.89114903,  861.61750506,  784.5879239 ,  784.5879239 ,
        782.43833019,  753.95585062,  797.28824233,  861.61750506,
        825.26424697,  857.38016579,  854.34261258,  867.7386358 ,
        730.4902842 ,  724.08881262,  753.27684107,  848.22148184,
        793.41849438,  867.7386358 ,  799.45024333,  825.26424697,
        826.89114903,  753.27684107,  808.10695536,  800.81172484,
        778.46679316,  778.46679316,  808.10695536,  762.15256385,
        793.32911259,  757.10001744,  784.5879239 ,  799.37817397,
        831.62697818,  730.4902842 ,  850.93244611,  768.27369459,
        747.15571033,  775.17280644,  839.9940857 ,  757.45498155,
        799.45024333,  911.3037358 ,  710.90520942,  767.91873047,
        825.26424697,  867.7386358 ,  767.91873047,  758.23296266,
        805.49930471,  753.27684107,  825.26424697,  724.08881262,
        710.89373301,  858.98688558,  825.26424697,  857.38016579,
        841.41763414,  812.26389127,  907.65159423,  826.89114903,
        855.95661734,  813.05398632,  727.31951226,  848.22148184,
        867.7386358 ,  883.58942605,  764.77456366,  730.4902842 ,
        883.58942605,  873.92476708,  806.93285558,  848.22148184,
        877.46829531,  713.27009958,  793.41849438,  721.72392246,
        920.6822502 ,  772.34566242,  813.05398632,  825.26424697,
        825.26424697,  804.23720742,  784.5879239 ,  854.34261258,
        799.45024333,  808.10695536,  738.0217235 ,  850.79879203,
        831.62697818,  738.1382253 ,  757.10001744,  896.83288119,
        804.23720742,  764.77456366,  869.22718479,  831.62697818,
        717.06071674,  852.23634718,  854.28930328,  802.23527329,
        850.79879203,  825.26424697,  814.44553394,  826.89114903,
        764.77456366,  793.32911259,  803.97310563,  764.77456366,
        786.64842797,  907.65159423,  799.45024333,  813.05398632,
        831.62697818,  758.65343292,  772.34566242,  768.27369459,
        848.16817254,  839.93203602,  909.86353717,  854.34261258,
        844.81131537,  764.77456366,  825.26424697,  803.97310563,
        798.11607668,  800.81172484,  723.13599449,  814.64888755,
        767.91873047,  839.9940857 ,  788.07197641, 1057.33224791,
        757.45498155])

In [28]:
rows = np.array(["ELastic Net",
                 metrics.max_error(y_test, y_predict),
                 metrics.mean_squared_error(y_test, y_predict),
                 metrics.mean_squared_log_error(y_test, y_predict),
                 metrics.r2_score(y_test, y_pred),
                 metrics.mean_absolute_error(y_test, y_predict),
                 metrics.explained_variance_score(y_test, y_predict)])
temp2 = pd.Series(rows, index = cols)

Reg_report = Reg_report.append(temp2, ignore_index = True)

               Model           max_error  mean_squared_error  \
0  Linear Regression  1043.1047648598567   172301.8190985129
1        ELastic Net   915.3322479071323  166560.77872274717

  mean_squared_log_error              r2_score mean_absolute_error  \
0     0.4940112052587489  -0.07772779874596614   349.3459593777875
1     0.4862341686303916  -0.07772779874596614   344.8101705846798

  explained_variance_score
0     -0.07523144662864523
1    -0.039109234859640685

In [29]:
Reg_report

,Model,max_error,mean_squared_error,mean_squared_log_error,r2_score,mean_absolute_error,explained_variance_score
0,Linear Regression,1043.1047648598567,172301.8190985129,0.4940112052587489,-0.07772779874596614,349.3459593777875,-0.07523144662864523
1,ELastic Net,915.3322479071323,166560.77872274717,0.4862341686303916,-0.07772779874596614,344.8101705846798,-0.039109234859640685